/* body {
    background-color: lightgrey;
    margin: 0px;
}

Header {
    background-color: darkgray;
    margin: 0px;
} */

h1,
h2,
h3 {
    color: black
}

.signUp__h2,
p {
    color: whitesmoke
}



.body___divForEntirePage {
    font-family: sans-serif;
    margin: 0;
}

.signup__form {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    background-color: #6e8f7d;
    background-image: url("./bird_horizon.jpg");
    /* background-size: cover; */
    background-size: cover;
    /* background-repeat: no-repeat;
    background-repeat: no-repeat; */
    background-position: bottom;
    background-attachment: scroll;
}


.inputs___form {
    margin: 10px 20px 0px 5px;
    color: whitesmoke
        /* width: 60px; */
        /* border: 0 solid #333;
    border-bottom-width: 5px;
    border-bottom-color: #0A0908;
    background-color: transparent; */

}

.submitSignUp__btn {
    padding: 10px 16px;
    /* border-radius: 50px; */
    border: solid #0A0908;
    background-color: #387b45;
    color: #0A0908;
    font-family: 'Markazi Text',
        serif;
    font-size: 20px;
    margin: auto;
    align-content: left;

}

.submitSignUp__btn a {
    text-decoration: none;
    color: #0A0908;


}

.submitSignUp__btn:hover {
    background-color: #81B8D9
}