.bookmark-list>li {
    border: 1px solid #C4C4C4;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.Goal__li {
    border: 1px solid #C4C4C4;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;  */
    margin: 10px;
    max-width: 65%;

}

.listItem span {
    border: 1px solid #C4C4C4;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;  */
    margin: 0px 50px 20px 10px;
    max-width: 65%;
}

.mainBox-about {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 65%;
}

.deleteGoal__btn {
    padding: 10px 16px;
    /* border-radius: 50px; */
    border: solid #0A0908;
    background-color: #387b45;
    color: #0A0908;
    font-family: 'Markazi Text',
        serif;
    font-size: 20px;
    margin: auto;
    align-content: right;

}

.deleteGoal__btn a {
    text-decoration: none;
    color: #0A0908;


}

.deleteGoal__btn:hover {
    background-color: #81B8D9
}


.readingDetails__span {
    font-weight: bold;
}


.Goal__timeframe {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
}

.Goal__timeframe a {
    color: #cacaca;
    display: block;
    text-decoration: none;
}

.Goal__timeframe a:hover {
    color: #FFB72F;
}


@media all and (min-width: 800px) {
    /* body {
        max-width: 800px;
    } */

    button.Goal__li {
        width: 225px;
        min-width: 0px;
    }

    button.listItem {
        width: 225px;
        min-width: 0px;
    }



    /* 
    .flex-direction {
        flex-direction: row;
    }

    .flex-desktop {
        width: 50%;
    }

    .flex-desc {
        flex: 4;
    } */
}







/* .Note__dates {
    bottom: 8px;
    color: #a7a5a5;
    font-size: 14px;
    position: absolute;
} */