.bookmark-list>li {
    border: 1px solid #C4C4C4;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.Goal__li {
    border: 1px solid #C4C4C4;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.deleteGoal__btn {
    padding: 10px 16px;
    /* border-radius: 50px; */
    border: solid #0A0908;
    background-color: #387b45;
    color: #0A0908;
    font-family: 'Markazi Text',
        serif;
    font-size: 20px;
    margin: auto;
    align-content: right;

}

.deleteGoal__btn a {
    text-decoration: none;
    color: #0A0908;


}

.deleteGoal__btn:hover {
    background-color: #81B8D9
}


.readingDetails__span {
    font-weight: bold;
}


.Goal__timeframe {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
}

.Goal__timeframe a {
    color: #cacaca;
    display: block;
    text-decoration: none;
}

.Goal__timeframe a:hover {
    color: #FFB72F;
}

/* .Note__dates {
    bottom: 8px;
    color: #a7a5a5;
    font-size: 14px;
    position: absolute;
} */